# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  plugin_citext_enable:
    default: false
    type: boolean
    description: Enable citext extension
  plugin_debversion_enable:
    default: false
    type: boolean
    description: Enable debversion extension
  plugin_hstore_enable:
    default: false
    type: boolean
    description: Enable hstore extension
  plugin_pg_trgm_enable:
    default: false
    type: boolean
    description: Enable pg_trgm extension
  plugin_plpython3u_enable:
    default: false
    type: boolean
    description: Enable PL/Python extension
  plugin_unaccent_enable:
    default: false
    type: boolean
    description: Enable unaccent extension
