# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

[tool.poetry]
name = "postgesql-k8s"
version = "0.0.1-dev.0"
description = ""
authors = []
license = "Apache-2.0"
readme = "README.md"
homepage = "https://charmhub.io/postgresql-k8s"
repository = "https://github.com/canonical/postgresql-k8s-operator"

[tool.poetry.dependencies]
python = "^3.8.10"
ops = "^2.0"
pgconnstr = "^1.0.1"
tenacity = "^8.2.1"
cryptography = "^39.0.1"
jsonschema = "^4.17.3"
jinja2 = "^3.1.2"
lightkube = "^0.12.0"
lightkube-models = "^1.26.0.4"
requests = "^2.28.2"
# psycopg2 = "^2.9.5" # Injected in charmcraft.yaml
boto3 = "^1.26.69"

[tool.poetry.group.fmt.dependencies]
black = "^22.12.0"
isort = "^5.11.4"

[tool.poetry.group.lint.dependencies]
flake8 = "^6.0.0"
flake8-docstrings = "^1.7.0"
flake8-copyright = "^0.2.4"
flake8-builtins = "^2.1.0"
pyproject-flake8 = "^6.0.0.post1"
pep8-naming = "^0.13.3"
codespell = "^2.2.2"

[tool.poetry.group.unit.dependencies]
coverage = {extras = ["toml"], version = "^7.0.5"}
pytest = "^7.1.1"
pytest-asyncio = "^0.20.3"

[tool.poetry.group.integration.dependencies]
lightkube = "^0.12.0"
pytest = "^7.1.1"
pytest-operator = "^0.23.0"
juju = "^2" # Latest juju 2
psycopg2 = {version = "^2.9.5", extras = ["binary"]}

[tool.poetry.group.ha_charm.dependencies]
ops = "^2.0"
tenacity = "^8.2.1"

[tool.poetry.group.relation_charm.dependencies]
ops = "^2.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# Testing tools configuration
[tool.coverage.run]
branch = true

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
minversion = "6.0"
log_cli_level = "INFO"
asyncio_mode = "auto"
markers = [
    "backup_tests",
    "charm_tests",
    "database_relation_tests",
    "db_relation_tests",
    "db_admin_relation_tests",
    "ha_self_healing_tests",
    "password_rotation_tests",
    "tls_tests",
]

# Formatting tools configuration
[tool.black]
line-length = 99
target-version = ["py38"]

[tool.isort]
profile = "black"

# Linting tools configuration
[tool.flake8]
max-line-length = 99
max-doc-length = 99
max-complexity = 10
exclude = [".git", "__pycache__", ".tox", "build", "dist", "*.egg_info", "venv"]
select = ["E", "W", "F", "C", "N", "R", "D", "H"]
# Ignore W503, E501 because using black creates errors with this
# Ignore D107 Missing docstring in __init__
ignore = ["W503", "E501", "D107"]
# D100, D101, D102, D103: Ignore missing docstrings in tests
per-file-ignores = ["tests/*:D100,D101,D102,D103,D104"]
docstring-convention = "google"
# Check for properly formatted copyright header in each file
copyright-check = "True"
copyright-author = "Canonical Ltd."
copyright-regexp = "Copyright\\s\\d{4}([-,]\\d{4})*\\s+%(author)s"
