# This file based on https://samber.github.io/awesome-prometheus-alerts/rules#patroni-1

groups:

- name: PatroniExporterK8s

  rules:

    - alert: PatroniPostgresqlDown
      expr: 'patroni_postgres_running == 0'
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: Patroni PostgreSQL instance {{ $labels.instance }} is down.
        description: |
          Check for errors in the Loki logs.
          LABELS = {{ $labels }}

    - alert: PatroniMultipleLeaders
      expr: 'sum by (scope) (patroni_master) > 1 or sum by (scope) (patroni_standby_leader) > 1'
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: Patroni cluster {{ $labels.scope }} has multiple leader nodes.
        description: |
          More than one leader node (primary or standby) is detected inside the cluster {{ $labels.scope }}.
          Check for errors in the Loki logs.
          LABELS = {{ $labels }}

    - alert: PatroniPrimaryAndStandbyLeader
      expr: 'sum by (scope) (patroni_master) == 1 and sum by (scope) (patroni_standby_leader) == 1'
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: Patroni cluster {{ $labels.scope }} has both primary and standby leaders.
        description: |
          A primary leader and a standby leader are simultaneously detected inside the cluster {{ $labels.scope }}.
          Check for errors in the Loki logs.
          LABELS = {{ $labels }}

    # 2.4.1
    - alert: PatroniHasNoLeader
      expr: '(max by (scope) (patroni_master) < 1) and (max by (scope) (patroni_standby_leader) < 1)'
      for: 0m
      labels:
        severity: critical
      annotations:
        summary: Patroni instance {{ $labels.instance }} has no leader node.
        description: |
          A leader node (neither primary nor standby) cannot be found inside the cluster {{ $labels.scope }}.
          Check for errors in the Loki logs.
          LABELS = {{ $labels }}
