ops-lib-pgsql==1.4 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
ops==2.5.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
pyyaml==6.0.1 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
tenacity==8.2.3 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
websocket-client==1.6.2 ; python_full_version >= "3.10.6" and python_full_version < "4.0.0"
