[global]
repo1-retention-full=3
repo1-type=s3
repo1-path={{ path }}
repo1-s3-region={{ region }}
repo1-s3-endpoint={{ endpoint }}
repo1-s3-bucket={{ bucket }}
repo1-s3-key={{ access_key }}
repo1-s3-key-secret={{ secret_key }}
start-fast=y

[main]
pg1-path=/var/lib/postgresql/data/pgdata
pg1-user=operator
