[global]
backup-standby=y
repo1-retention-full=9999999
repo1-type=s3
repo1-path={{ path }}
repo1-s3-region={{ region }}
repo1-s3-endpoint={{ endpoint }}
repo1-s3-bucket={{ bucket }}
repo1-s3-uri-style={{ s3_uri_style }}
repo1-s3-key={{ access_key }}
repo1-s3-key-secret={{ secret_key }}
start-fast=y

[{{ stanza }}]
{% set ns = namespace(count=1) %}
{%- for endpoint in endpoints %}
pg{{ ns.count }}-host={{ endpoint }}
pg{{ ns.count }}-path=/var/lib/postgresql/data/pgdata
pg{{ ns.count }}-user={{ user }}
{% set ns.count = ns.count + 1 %}
{%- endfor %}
