[global]
backup-standby=y
log-level-stderr=warn
compress-type=zst
repo1-retention-full-type=time
repo1-retention-full={{ retention_full }}
repo1-retention-history=365
repo1-type=s3
repo1-path={{ path }}
{%- if region %}
repo1-s3-region={{ region }}
{% else %}
repo1-s3-region=""
{%- endif %}
repo1-s3-endpoint={{ endpoint }}
repo1-s3-bucket={{ bucket }}
repo1-s3-uri-style={{ s3_uri_style }}
{%- if tls_ca_chain != '' %}
repo1-s3-ca-file={{ tls_ca_chain }}
{%- endif %}
repo1-s3-key={{ access_key }}
repo1-s3-key-secret={{ secret_key }}
repo1-block=y
repo1-bundle=y
start-fast=y
{%- if enable_tls %}
tls-server-address=*
{%- for peer_endpoint in peer_endpoints %}
tls-server-auth={{ peer_endpoint }}={{ stanza }}
{%- endfor %}
tls-server-ca-file={{ storage_path }}/ca.pem
tls-server-cert-file={{ storage_path }}/cert.pem
tls-server-key-file={{ storage_path }}/key.pem
{%- endif %}

[{{ stanza }}]
pg1-path={{ storage_path }}/pgdata
pg1-user={{ user }}
{%- if enable_tls %}
{% set ns = namespace(count=2) %}
{%- for peer_endpoint in peer_endpoints %}
pg{{ ns.count }}-host-type=tls
pg{{ ns.count }}-host-ca-file={{ storage_path }}/ca.pem
pg{{ ns.count }}-host-cert-file={{ storage_path }}/cert.pem
pg{{ ns.count }}-host-key-file={{ storage_path }}/key.pem
pg{{ ns.count }}-host={{ peer_endpoint }}
pg{{ ns.count }}-path={{ storage_path }}/pgdata
pg{{ ns.count }}-user={{ user }}
{% set ns.count = ns.count + 1 %}
{%- endfor %}
{%- endif %}

[global:restore]
process-max={{process_max}}
