# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.
name: Approve Renovate pull request

on:
  pull_request:
    types:
      - opened

jobs:
  approve-pr:
    name: Approve Renovate pull request
    uses: canonical/data-platform-workflows/.github/workflows/approve_renovate_pr.yaml@v32.2.1
    permissions:
      pull-requests: write  # Needed to approve PR
