# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.
name: Check libs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.jujuignore'
      - 'LICENSE'
      - '**.md'
      - 'renovate.json'

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    timeout-minutes: 5
    if: ${{ github.event.pull_request.head.repo.full_name == 'canonical/postgresql-k8s-operator' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up environment
        run: |
          pipx install tox
          pipx install poetry
          pipx inject poetry poetry-plugin-export
          # TODO: Remove after https://github.com/python-poetry/poetry/pull/5980 is closed
          poetry config warnings.export false
      - name: Generate requirements
        run: |
          tox run -e build-wrapper
          mv requirements-last-build.txt requirements.txt
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.6.1
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

