# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
name: Release to Charmhub edge

on:
  push:
    branches:
      - '*/edge'
    paths-ignore:
      - 'tests/**'
      - 'docs/**'
      - .github/renovate.json5
      - pyproject.toml
      - '.github/workflows/ci.yaml'
      - '.github/workflows/lib-check.yaml'
      - '.github/workflows/sync_docs.yaml'

jobs:

  ci-tests:
    name: Tests
    uses: ./.github/workflows/ci.yaml
    secrets: inherit
    permissions:
      contents: write  # Needed for Allure Report

  release:
    name: Release charm
    needs:
      - ci-tests
    uses: canonical/data-platform-workflows/.github/workflows/release_charm_edge.yaml@v35.0.2
    with:
      track: '16'
      artifact-prefix: ${{ needs.ci-tests.outputs.artifact-prefix }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to create git tags
